.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.overlay.open {
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.543);
}

.modal {
  padding: 10px 16px;
  position: fixed;
  height: 80vh;
  background-color: #fff;
  border-radius: 6px;
  overflow: auto;
  z-index: 3;
}

.modal-close-btn {
  display: none;
}

.modal.open .modal-close-btn {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.3s;
  color: var(--primary-color);
}

.modal-close-btn:hover {
  font-size: 26px;
}

.modal.open {
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
