.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.overlay.open {
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.543);
}

.modal {
  display: none;
  padding: 16px;
  position: fixed;
  max-height: 80vh;
  width: 600px;
  background-color: var(--bg-color);
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
}

/* .modal-close-btn {
  display: none;
} */

.modal.open .modal-close-btn {
  /* display: block; */
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.3s;
  color: var(--font-color);
}

.modal-close-btn:hover {
  font-size: 26px;
}

.modal.open {
  display: block;
  margin: 0 auto;
  min-width: 290px;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 425px) {
  .modal {
    width: 350px;
  }
}
