/* Styles for the toast container */
section.toast-container {
  z-index: 100;
  position: fixed;
  top: 15%;
  right: 0;
  width: 400px;
  overflow: hidden;
}

/* Common styles for toast messages */
.toast-container > * {
  margin: 10px 0;
  padding: 10px 20px;
  position: relative;
  height: 100px;
  color: #fff;
  border-radius: 50px 0 0 50px;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.6s;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.toast-container .toast-icon {
  color: #fff;
  font-size: 56px;
}

.toast-container .success {
  background: linear-gradient(135deg, #00cc66, #007a33);
}

.toast-container .warning {
  background: linear-gradient(135deg, #ffcc00, #ff6600);
}

.toast-container .error {
  background: linear-gradient(135deg, #ff3333, #cc0000);
}

.toast-container > *.active {
  transform: translateX(0);
  opacity: 1;
}
